{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/apprenant.css') }}">
{% endblock %}
{% block body %}
<h1 class="text-center">
Page APprenant
</h1>
{% endblock %}
