{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
  <h1 class="text-center">Je suis center</h1>
{% endblock %}
